.coverage
.coverage.*
*.pyc
*.pyo
*.swp
*.swo
env
env-dev
/nodeenv
/TODO
/build/
/dist/
/bin/
/include/
/lib/
/local/
/venv*/
/*.egg-info/
.ropeproject/
.tox/
.idea/
.cache/
debian
debian-upstream/files
debian-upstream/nodeenv.substvars
debian-upstream/nodeenv.*.debhelper
/debian-upstream/sdist/
/debian-upstream/nodeenv/
